
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.opendb
*.db
*.user
*.lib
*.sbr
obj/
[Rr]elease*/
*.sdf
*.sdp
*.o
*.exp
[Ll]ogs*/
ipch/

*pyc